<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRM Web Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
.nav a {
/*color: black;*/
/*font-size: large;*/
}
</style>
<body>
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->

<div class="container mt-3">
    <a th:href="@{/}"><i class="material-icons" style="font-size:24px;color:red">arrow_back</i></a>
    <div class="mt-4 p-5 bg-warning text-dark rounded">
        <h1>Admin Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
        <nav class="nav justify-content-center">
            <a class="nav-link" th:href="@{/city-list}">Cities</a>
            <a class="nav-link" th:href="@{/country-list}" href="#">Countries</a>
            <a class="nav-link" th:href="@{/industry-list}" href="#">Industries</a>
            <a class="nav-link" th:href="@{/contact-list}" href="#">Contact Person List</a>
            <a class="nav-link" th:href="@{/admin/users}" href="#">UserRoles</a>
        </nav>
    </div>
</div>
<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->

</div>

</body>
</html>
