<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<body>
<div class="container mt-3">
    <div class="row">
    <a th:href="@{/business-management}"><i class="material-icons" style="font-size:24px;color:red">arrow_back</i></a>
    <h2>Business Information Page</h2>
<!--    <p><a href="#" class="link-underline-primary" th:href="@{/city-form}">Add Business</a></p>-->

    <table class="table table-light">
        <thead class="table-light">
        <tr>
         <th>ID</th>
            <th>Company Name</th>
            <th>Industry</th>
            <th>City</th>
            <th>Country</th>
            <th>Website</th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr th:if="${businessInformationPage != null }"  th:each="item : ${businessInformationPage.content}">
           <td><a th:text="${item.id}" th:href="@{/business-info/{id}(id=${item.id})}"></a></td>
            <td th:text="${item.companyName}"></td>
            <td th:text="${item?.industry?.name}"></td>
            <td th:text="${item?.city?.name}"></td>
            <td th:text="${item?.country?.name}"></td>
            <td th:text="${item.website}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination flex-wrap">
        <li class="page-item">
            <a class="page-link" th:if="${businessInformationPage}"
               th:href="@{/business-info-list(page=0, size=${businessInformationPage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/business-info-list(page=${currentPage - 1}, size=${businessInformationPage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/business-info-list(page=${i}, size=${businessInformationPage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/business-info-list(page=${currentPage + 1}, size=${businessInformationPage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/business-info-list(page=${totalPages - 1}, size=${businessInformationPage.size})}">Last</a>
        </li>
    </ul>
</div>
</div>


<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->

</div>

</body>
</html>
