<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->

<div class="container mt-3">
    <a th:href="@{/admin}"><i class="material-icons" style="font-size:24px;color:red">arrow_back</i></a>
    <h3>Countries Page</h3>
    <nav class="nav ">
        <a class="nav-link" th:href="@{/country-form}">Country Form</a>
    </nav>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:if="${countryPage != null}"  th:each="country : ${countryPage.content}">
            <td><a th:text="${country.id}" th:href="@{/country/{id}(id=${country.id})}"></a></td>
            <td th:text="${country.name}"></td>
            <td th:text="${country.code}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/country-list(page=0, size=${countryPage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/country-list(page=${currentPage - 1}, size=${countryPage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/country-list(page=${i}, size=${countryPage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/country-list(page=${currentPage + 1}, size=${countryPage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/country-list(page=${totalPages - 1}, size=${countryPage.size})}">Last</a>
        </li>
    </ul>
</div>


<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->

</div>

</body>
</html>
