<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->

<body>
<div class="container mt-3">
    <a th:href="@{/lead-management}"><i class="bi bi-arrow-left-circle">Back</i></a>
    <h2>Customer Upload Page</h2>
    <form method="POST" enctype="multipart/form-data" action="/customer-upload">

        <div class="mb-3">
            <label for="file" class="form-label">Upload Customer File</label>
            <input class="form-control" type="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->

</body>
</html>
