<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-3">
            <div class="card bg-default fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Leads : <span th:text="${leadsCount}"></span>
                    </h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-default fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Total Customers : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-default  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Total Contacts : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card bg-default  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Total Accounts : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>

            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <div class="card  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Cities : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a></div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card   fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Countries : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a></div>
                </div>
            </div>
        <div class="col-sm-3">
            <div class="card  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Industries : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Contact Persons : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <div class="card  fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Opportunities : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>


                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Emails Sent : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Emails Sent : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card fs-6">
                <div class="card-body">
                    <h4 class="card-title">
                        Pending Messages : <span th:text="${customersCount}"></span></h4>
                    <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                    <a href="#" class="btn btn-primary">See More</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
