<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<body>
<div class="container mt-3">
    <a th:href="@{/admin}"><i class="material-icons" style="font-size:24px;color:red">arrow_back</i></a>
    <h3>Industries Page</h3>
    <nav class="nav ">
        <a class="nav-link" th:href="@{/industry-form}">Industry Form</a>
    </nav>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr th:if="${industryPage != null}"  th:each="industry : ${industryPage.content}">
            <td><a th:text="${industry.id}" th:href="@{/industry/{id}(id=${industry.id})}"></a></td>
            <td th:text="${industry.name}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/industry-list(page=0, size=${industryPage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/industry-list(page=${currentPage - 1}, size=${industryPage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/industry-list(page=${i}, size=${industryPage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/industry-list(page=${currentPage + 1}, size=${industryPage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/industry-list(page=${totalPages - 1}, size=${industryPage.size})}">Last</a>
        </li>
    </ul>
</div>


<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->

</body>
</html>
