<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<body>
    <div class="container mt-3">
        <a th:href="@{/}"><i class="bi bi-arrow-left-circle">Back</i></a>
        <div class="mt-4 p-5 bg-warning text-dark rounded">
            <h1>Lead Management</h1>
        </div>
    </div>
<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->
<!-- /page container -->

</body>
</html>





