<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>

<body>
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<div class="container mt-3">
    <a th:href="@{/lead-management}"><i class="bi bi-arrow-left-circle">Back</i></a>
    <h2>Leads Page</h2>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Company Name</th>
            <th>Lead Score</th>
            <th>Job Title</th>
            <th>City</th>
            <th>Country</th>
            <th>Lead Source</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lead : ${leadsPage.content}">
            <td><a th:text="${lead.id}" th:href="@{/lead/{id}(id=${lead.id})}"></a></td>
            <td th:text="${lead.fullName}"></td>
            <td th:text="${lead.emailAddress}"></td>
            <td th:text="${lead.phoneNumber}"></td>
            <td th:text="${lead.company}"></td>
            <td th:text="${lead.leadScore}"></td>
            <td th:text="${lead.jobTitle}"></td>
            <td th:text="${lead.city}"></td>
            <td th:text="${lead.country}"></td>
            <td th:text="${lead.leadSource}"></td>
            <td>
                <div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                        Actions
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/assign-lead/{id}(id=${lead.id})}">Assign Sales
                            Person</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/convert-lead/{id}(id=${lead.id})}">Convert To
                            Customer</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/lead-profile/{id}(id=${lead.id})}">Lead Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"
                               data-bs-toggle="modal"
                               data-bs-target="#editUserModal"
                               th:attr="data-id=${lead.id},data-name=${lead.fullName}, data-lead-stage=${lead.leadStage}">Lead Conversion</a></li>
                        <li><a class="dropdown-item" href="#">Link 3</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/dashboard(page=0, size=${leadsPage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/dashboard(page=${currentPage - 1}, size=${leadsPage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/dashboard(page=${i}, size=${leadsPage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/dashboard(page=${currentPage + 1}, size=${leadsPage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/dashboard(page=${totalPages - 1}, size=${leadsPage.size})}">Last</a>
        </li>
    </ul>

    <div class="modal fade" id="editUserModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content" method="post" th:action="@{/convert-lead}">
                <input type="hidden" name="id" id="leadId">

                <div class="modal-header">
                    <h5 class="modal-title">Convert User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" id="fullName" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="userRole" class="form-label">Lead Stage</label>
                        <select name="leadStage" id="leadStage" class="form-select">
                            <option value="">-- Select Stage --</option>
                            <option th:each="role : ${leadStages}"
                                    th:value="${role}"
                                    th:text="${role}"></option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const editModal = document.getElementById('editUserModal');
        editModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            document.getElementById('leadId').value = button.getAttribute('data-id');
            document.getElementById('fullName').value = button.getAttribute('data-name');
            document.getElementById('leadStage').value = button.getAttribute('data-lead-stage');
            // document.getElementById('userRole').value = button.getAttribute('data-role');
        });
    </script>


    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>
    <!-- /footer -->

</div>

</body>
</html>
