<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->

<body>
<div class="container mt-3">
    <a th:href="@{/lead-management}"><i class="bi bi-arrow-left-circle">Back</i></a>
    <h3>Opportunities Page</h3>
<!--    <p><a href="#" class="link-underline-primary" th:href="@{/city-form}">Add City</a></p>-->
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>Opportunity Name</th>
            <th>AccountNumber</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr th:if="${opportunityPage != null}"  th:each="opportunity : ${opportunityPage.content}">
<!--            <td><a th:text="${city.id}" th:href="@{/city/{id}(id=${city.id})}"></a></td>-->
            <td th:text="${opportunity.name}"></td>
<!--            <td th:text="${account.accountNumber}"></td>-->
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/opportunity-list(page=0, size=${opportunityPage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/opportunity-list(page=${currentPage - 1}, size=${opportunityPage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/opportunity-list(page=${i}, size=${opportunityPage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/opportunity-list(page=${currentPage + 1}, size=${opportunityPage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/opportunity-list(page=${totalPages - 1}, size=${opportunityPage.size})}">Last</a>
        </li>
    </ul>
</div>
<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->


</body>
</html>
