<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Main navbar -->
<div th:replace="/fragments/header :: header"></div>
<!-- /main navbar -->
<body>
<div class="container mt-3">
    <a th:href="@{/admin}"><i class="material-icons" style="font-size:24px;color:red">arrow_back</i></a>
    <nav class="nav ">
        <a class="nav-link" th:href="@{/promotion-message-form}">Promotion Message Form</a>
    </nav>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Subject</th>
            <th>Schedule Day</th>
            <th>Lead Segment</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>

        <tbody>
        <tr th:if="${promotionMessagePage != null}"  th:each="message : ${promotionMessagePage.content}">
            <td><a th:text="${message.id}" th:href="@{/promotion-message/{id}(id=${message.id})}"></a></td>
            <td th:text="${message.subject}"></td>
            <td th:text="${message.scheduleDay}"></td>
            <td th:text="${message?.leadSegment?.name}"></td>
            <td th:text="${message.text}"></td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/promotion-message-list(page=0, size=${promotionMessagePage.size})}">First</a></li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage > 0}"
               th:href="@{/promotion-message-list(page=${currentPage - 1}, size=${promotionMessagePage.size})}">Previous</a>

        </li>
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
           <li class="page-item">
            <a class="page-link" th:href="@{/promotion-message-list(page=${i}, size=${promotionMessagePage.size})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''"></a>
           </li>
        </span>

        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/promotion-message-list(page=${currentPage + 1}, size=${promotionMessagePage.size})}">Next</a>
        </li>
        <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages - 1}"
                                 th:href="@{/promotion-message-list(page=${totalPages - 1}, size=${promotionMessagePage.size})}">Last</a>
        </li>
    </ul>
</div>
<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- /footer -->
</body>
</html>
